* {
  margin: 0px;
  padding: 0px;
}

body {
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #CECECE, #888888);
    background-attachment: fixed;
    margin: 0px;
}

nav {
  background-color: #005f92;
  padding: 10px 20px 10px 20px;
}

header>nav>a {
  text-decoration: none;
  color: white;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  transition: 0.2s;
}
header>nav>a:hover {
  background: #007ca5;
}

h1#head {
  min-width: 5px;
  max-width: 600px;
  text-align: center;
  
  margin: auto;
  margin-top: 40px;
  
}
a#marca {
  color: white;
  text-decoration: none;
}

header {
  background-image: linear-gradient(to bottom, #0096C7, #0077B6);
  color: white;
  height: 180px;
  box-shadow: 1px 0px 10px #00000075;
}

main {
  font-size: 10pt;
  background-color: white;
  max-width: 650px;
  margin: auto;
  margin-top: 15px;
  padding: 10px;
}
main>h1 {
  text-align: center;
}
main>h2 {
  margin: 30px 0px 30px 0px;
}
p#pprincipal {
  text-align: justify;
}
main>img#mbti {
  display: block;
  max-width: 400px;
  margin: auto;
}
main>ul {
  padding-left:  40px;
  padding-top: 10px;
}
main>h3 {
  margin: 15px 0px 5px 0px;
}

h2#os16t {
  text-align: center;
  text-decoration: underline;
}
img#tipos {
  display: block;
  margin: auto;
  max-width: 300px;
  margin-bottom: 40px;
}
.under {
  text-decoration: underline;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 8px;
  padding: 10px;
}
footer>a {
  text-decoration: none;
  color: #73CFFF;
}
